<head>
  <title>SmartControl</title>
  <link rel="shortcut icon" type="image/x-icon" href="images/favicon.ico"/>
</head>

<body>
  <div id="render-target" style="
    min-height: 100%;
    height: 100%;
"></div>
</body>
